.text-editors-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 100px 0px 100px;
    transition: all 0.3s;
  }
  
  .text-editors-container.toolbar-open {
  
    padding-right: 450px;
  }
  
  
  
  /* LIVE TEXT EDITOR */
  
  .live-editor-container, .scratch-editor-container {
    width: 100%;
  }
  
  textarea::-webkit-resizer {
    display: none !important;
  }
  
  
  .texteditcontainer
  {
  
  }
  
  .live-quill-container {
    max-width: 100% !important;

  }
  
  .ql-container {
    border-radius: 0px 0px 5px 5px !important;
    width: auto !important;
    transition: all .2s !important;
  }
  
  .quill {
  
  }
  
  .ql-editor {
    resize: vertical !important;
    padding-top: 20px !important;
    padding-left: 30px !important;
  
  }
  .ql-editor ::-webkit-resizer {
  display: none !important;
  }
  
  
  .live-editor-container .ql-editor {
    min-height: 300px;
    height: 500px;
    font-size: 18px;
    background-color: rgb(63, 63, 63, 0.3);
    box-shadow: 
    rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, 
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, 
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, 
    rgba(0, 0, 0, 0.06) 0px 2px 1px, 
    rgba(0, 0, 0, 0.09) 0px 4px 2px, 
    rgba(0, 0, 0, 0.09) 0px 8px 4px, 
    rgba(0, 0, 0, 0.09) 0px 16px 8px, 
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
    
  }
  
  .scratch-editor-container .ql-editor {
    font-family: 'john-doe', sans-serif;
    font-weight: 400 !important;
    font-style: normal !important;
    min-height: 300px;
    font-size: 16px;
    background-color: rgb(208, 208, 208);
    color:rgb(0, 0, 0) !important;
    box-shadow: 
      rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, 
      rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, 
      rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, 
      rgba(0, 0, 0, 0.06) 0px 2px 1px, 
      rgba(0, 0, 0, 0.09) 0px 4px 2px, 
      rgba(0, 0, 0, 0.09) 0px 8px 4px, 
      rgba(0, 0, 0, 0.09) 0px 16px 8px, 
      rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }
  
  .scratch-editor-container {
    transition: all 0.9s ease-in-out;
    padding-top: 20px;
    padding-bottom: 200px;
  }
  
  /* Scratchpad button  */
  .scratch-editor-container .css-17w002z-MuiButtonBase-root-MuiButton-root {
  background-color: rgb(42, 42, 42) !important;
  color: white !important;
  /* border-radius: 0px !important; */
  }
  
  .scratchpad-collapsed {
    display: none;
    /* height: 0px !important;
    overflow: hidden; */
  }
  
  .scratchpad-expanded {
    display: block;
    /* height: 200px !important; */
  }
  
  .ql-toolbar {
    border-radius: 5px 5px 0px 0px !important;
    background-color: rgb(193, 193, 193) !important;
  }
  
  .ql-link, .ql-clean, .ql-list {
    display: none !important;
  }
  /* placeholder text */
  .ql-editor.ql-blank::before {
    font-family: 'indivisible', sans-serif;
    color:rgb(80, 80, 80) !important;
    opacity: .2 !important;
    padding-left: 15px !important;
    text-align: center;
    font-size: 105px;
    font-style: normal !important;
    font-weight: 900 !important;
  }
  
  .animate-character
  {
    background-image: linear-gradient(
      0deg,
      #000000 0%,
      #ffffff 67%,
      #000000 100%
    );
    // background-size: auto auto;
    background-clip: border-box;
    background-size: 300% auto;
    color: #fff;
    background-clip: text;
    // text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 1s cubic-bezier(0.215, 0.610, 0.355, 1) forwards;
    width: 100%;
  }
  
  @keyframes textclip {
    to {
      background-position: 5% center;
    }
  }